name: Selenide Java CI

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"
    - cron: "0 7 * * *"

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  on-push:
    if: github.event_name != 'schedule'
    uses: ./.github/workflows/jobs.yml
    secrets: inherit
    with:
      job_label: 'On Push'
      exclude_tags: ''
      report_on_failure_only: false

  scheduled-monitoring:
    if: github.event.schedule == '*/30 * * * *'
    uses: ./.github/workflows/jobs.yml
    secrets: inherit
    with:
      job_label: 'Monitoring'
      exclude_tags: 'Impact'
      report_on_failure_only: true

  scheduled-daily:
    if: github.event.schedule == '0 7 * * *'
    uses: ./.github/workflows/jobs.yml
    secrets: inherit
    with:
      job_label: 'Daily Run'
      exclude_tags: ''
      report_on_failure_only: false